# Environments and configuration
.venv/
config/

# Jupyter notebooks checkpoints
notebooks/.ipynb_checkpoints

# Assets
images/logos

# Reports and documentation
docs/proposal/*
report/*

!docs/proposal/main.pdf
!report/main.pdf
